receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318  # <--- This is where your Go app is connecting
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  batch:

exporters:
  otlp:
    endpoint: tempo:3200
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]