name: ai-orchestrator

services:
  api:
    build:
      context: ../../
      dockerfile: deployment/docker/Dockerfile
      args:
        SERVICE_PATH: cmd/api
    container_name: api
    ports:
      - "8080:8080"
    env_file:
      - ../../.api_env
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    build:
      context: ../../
      dockerfile: deployment/docker/Dockerfile
      args:
        SERVICE_PATH: cmd/worker
    container_name: worker
    env_file:
      - ../../.worker_env
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orchestrator_db
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - app-network
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - app-network

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: "otel"
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ../../config/otel/config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "55680:55680"
      - "14250:14250" # gRPC
      - "6831:6831/udp" # <--- Add this! Expose UDP for your Go App
      - "4318:4318"
    networks:
      - app-network
    depends_on:
      tempo:
        condition: service_started

  grafana:
    image: grafana/grafana:latest
    container_name: "grafana"
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=secret
    networks:
      - app-network

  tempo:
    image: grafana/tempo:latest
    container_name: "tempo"
    volumes:
      - ../../config/tempo/tempo-local.yaml:/etc/tempo-local.yaml
    command: [ "-config.file=/etc/tempo-local.yaml" ]
    ports:
      - "3100:3100"
      - "3200:3200"
    networks:
      - app-network

volumes:
  postgres-data:
  redis-data:
  grafana-data:

networks:
  app-network:
    driver: bridge