name: ai-orchestrator

services:
  api:
    build:
      context: ../../
      dockerfile: deployment/docker/Dockerfile
      args:
        SERVICE_PATH: cmd/api
    container_name: api
    ports:
      - "8080:8080"
    env_file:
      - ../../.api_env
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy

  worker:
    build:
      context: ../../
      dockerfile: deployment/docker/Dockerfile
      args:
        SERVICE_PATH: cmd/worker
    container_name: worker
    env_file:
      - ../../.worker_env
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - app-network

  jaeger:
    image: jaegertracing/jaeger-agent
    container_name: jaeger
    ports:
      - "14268:14268"
      - "6831:6831"
      - "5778:5778"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - LOG_LEVEL=debug
    command: [ "--reporter.grpc.host-port=otel:14250" ]

volumes:
  redis-data:

networks:
  app-network:
    driver: bridge